NODE_ENV=development

# MongoDB Atlas connection string
DATABASE_URL=mongodb+srv://cam23019_db_user:4pFQpTabRjr5JXUJ@cookquest.kaxwrh2.mongodb.net/?appName=CookQuest

# Clerk keys — https://dashboard.clerk.com → your app → API Keys
NUXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z29vZC1iYXNpbGlzay0zNS5jbGVyay5hY2NvdW50cy5kZXYk
NUXT_CLERK_SECRET_KEY=sk_test_H8usJk1HezPKrCPAKmyV9d2yg2zkyIY4ObCc9JcPQ5